USE [master]
GO
/****** Object:  Database [UNIVERSIDADE]    Script Date: 26/04/2025 14:55:29 ******/
CREATE DATABASE [UNIVERSIDADE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UNIVERSIDADE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UNIVERSIDADE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UNIVERSIDADE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UNIVERSIDADE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UNIVERSIDADE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UNIVERSIDADE]
GO
/****** Object:  UserDefinedFunction [dbo].[GetMediaSalarial]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Criando uma função para calcular a média salarial por departamento
CREATE FUNCTION [dbo].[GetMediaSalarial] (@DepartamentoID INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Media DECIMAL(10,2);
    
    SELECT @Media = AVG(SALARIO)
    FROM PROFESSOR
    WHERE FK_DEPARTAMENTO = @DepartamentoID;

    RETURN @Media;
END;
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[CD_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[TURNO] [varchar](50) NULL,
	[NUMERO_ALUNOS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALUNO]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUNO](
	[CD_ALUNO] [int] NOT NULL,
	[NOME] [varchar](50) NULL,
	[MATRICULA] [varchar](50) NULL,
	[ENDERECO] [varchar](50) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[FK_CURSO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Alunos_Cursos]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Criando uma view para mostrar os alunos e seus cursos
CREATE VIEW [dbo].[vw_Alunos_Cursos] AS
SELECT A.NOME AS Aluno, C.NOME AS Curso
FROM ALUNO A
JOIN CURSO C ON A.FK_CURSO = C.CD_CURSO;
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[CD_DEPARTAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[CAMPUS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO_CURSO]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO_CURSO](
	[CD_DEPARTAMENTO_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[FK_DEPARTAMENTO] [int] NULL,
	[FK_CURSO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_DEPARTAMENTO_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPENDENTE]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPENDENTE](
	[CD_DEPENDENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[RELACIONAMENTO] [varchar](50) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[FK_PROFESSOR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_DEPENDENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISCIPLINA]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCIPLINA](
	[CD_DISCIPLINA] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[HORAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_DISCIPLINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISCIPLINA_CURSO]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCIPLINA_CURSO](
	[CD_DISCIPLINA_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[FK_CURSO] [int] NULL,
	[FK_DISCIPLINA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_DISCIPLINA_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFERTA]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFERTA](
	[CD_OFERTA] [int] IDENTITY(1,1) NOT NULL,
	[FREQUENCIA] [int] NULL,
	[ANO] [int] NULL,
	[NOTA] [decimal](3, 2) NULL,
	[SEMESTRE] [int] NULL,
	[FK_PROFESSOR] [int] NULL,
	[FK_ALUNO] [int] NULL,
	[FK_DISCIPLINA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_OFERTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESSOR]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSOR](
	[CD_PROFESSOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[CPF] [varchar](15) NULL,
	[SALARIO] [decimal](10, 2) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[FK_DEPARTAMENTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_PROFESSOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TITULACAO]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITULACAO](
	[CD_TITULACAO] [int] IDENTITY(1,1) NOT NULL,
	[INSTITUICAO] [varchar](50) NULL,
	[CURSO] [varchar](50) NULL,
	[GRAU] [varchar](50) NULL,
	[FK_PROFESSOR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_TITULACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALUNO]  WITH CHECK ADD  CONSTRAINT [FK_CURSO_ALUNO] FOREIGN KEY([FK_CURSO])
REFERENCES [dbo].[CURSO] ([CD_CURSO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ALUNO] CHECK CONSTRAINT [FK_CURSO_ALUNO]
GO
ALTER TABLE [dbo].[DEPARTAMENTO_CURSO]  WITH CHECK ADD  CONSTRAINT [FK_CURSO_DEPARTAMENTO] FOREIGN KEY([FK_CURSO])
REFERENCES [dbo].[CURSO] ([CD_CURSO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEPARTAMENTO_CURSO] CHECK CONSTRAINT [FK_CURSO_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[DEPARTAMENTO_CURSO]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENTO_CURSO] FOREIGN KEY([FK_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([CD_DEPARTAMENTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEPARTAMENTO_CURSO] CHECK CONSTRAINT [FK_DEPARTAMENTO_CURSO]
GO
ALTER TABLE [dbo].[DEPENDENTE]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSOR_DEPENDENTE] FOREIGN KEY([FK_PROFESSOR])
REFERENCES [dbo].[PROFESSOR] ([CD_PROFESSOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEPENDENTE] CHECK CONSTRAINT [FK_PROFESSOR_DEPENDENTE]
GO
ALTER TABLE [dbo].[DISCIPLINA_CURSO]  WITH CHECK ADD  CONSTRAINT [FK_CURSO_DISCIPLINA] FOREIGN KEY([FK_CURSO])
REFERENCES [dbo].[CURSO] ([CD_CURSO])
GO
ALTER TABLE [dbo].[DISCIPLINA_CURSO] CHECK CONSTRAINT [FK_CURSO_DISCIPLINA]
GO
ALTER TABLE [dbo].[DISCIPLINA_CURSO]  WITH CHECK ADD  CONSTRAINT [FK_DISCIPLINA_CURSO] FOREIGN KEY([FK_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINA] ([CD_DISCIPLINA])
GO
ALTER TABLE [dbo].[DISCIPLINA_CURSO] CHECK CONSTRAINT [FK_DISCIPLINA_CURSO]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_ALUNO_OFERTA] FOREIGN KEY([FK_ALUNO])
REFERENCES [dbo].[ALUNO] ([CD_ALUNO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_ALUNO_OFERTA]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_DISCIPLINA_OFERTA] FOREIGN KEY([FK_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINA] ([CD_DISCIPLINA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_DISCIPLINA_OFERTA]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSOR_OFERTA] FOREIGN KEY([FK_PROFESSOR])
REFERENCES [dbo].[PROFESSOR] ([CD_PROFESSOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_PROFESSOR_OFERTA]
GO
ALTER TABLE [dbo].[PROFESSOR]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENTO] FOREIGN KEY([FK_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([CD_DEPARTAMENTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROFESSOR] CHECK CONSTRAINT [FK_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[TITULACAO]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSOR_TITULACAO] FOREIGN KEY([FK_PROFESSOR])
REFERENCES [dbo].[PROFESSOR] ([CD_PROFESSOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TITULACAO] CHECK CONSTRAINT [FK_PROFESSOR_TITULACAO]
GO
/****** Object:  StoredProcedure [dbo].[GetProfessoresPorDepartamento]    Script Date: 26/04/2025 14:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Criando um procedimento para listar professores por departamento
CREATE PROCEDURE [dbo].[GetProfessoresPorDepartamento] (@DepartamentoID INT)
AS
BEGIN
    SELECT NOME, SALARIO
    FROM PROFESSOR
    WHERE FK_DEPARTAMENTO = @DepartamentoID;
END;
GO
USE [master]
GO
